*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
p{
  border-bottom: 1px solid black;
}
.blok-row {
  display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: 450px;
height: 600px;
border: 2px solid black;
margin: 50px;
}

.blok-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 300px;
  border: 2px solid black;
}
.left-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10px;
}
.age {
  width: 90%;}

.eye-color {
  width: 90%;}

.first-name {
  width: 90%;
}

.last-name {
  width: 90%;}

.button {
  width: 100px;
  padding: 30px;
}